@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/* Inicializar */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    line-height: 1.6;
    font-size: 0.875rem;
}

p {
    text-align: center;
}

/* Encabezado */

header {
    background-color: #262626;
    color: white;
    padding: 0;
    text-align: center;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 0.25rem;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;

}

.btn {
    text-transform: uppercase;
    background: dodgerblue;
    color: white;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.25rem;
    display: inline-block;
    /* font-weight: 700; */
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    color: dodgerblue;
    background: white;
}

.section {
    padding: 5rem 0;
}

.section-title {
    text-align: center;
    margin-bottom: 4rem;
}

.section-title h2 {
    text-transform: uppercase;
}

.section-title span {
    color: dodgerblue;
    font-weight: 700;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}



/* Hero */

.hero {
    min-height: 100vh;
    /* background: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') center/cover no-repeat; */
    background: #262626;

    /* background: #262626; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-banner {
    text-align: center;
    color: white;
    padding: 0 3rem;
}

.hero-banner h1 {
    text-transform: uppercase;
}

.hero-banner p {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    letter-spacing: 0.25rem;
}

.hero-btn {
    padding: 0.9rem 1.6rem;
    font-size: 1.25rem;
    background: white;
    color: dodgerblue;
}

.hero-btn:hover {
    background: transparent;
    color: white;
    border-color: white;
}

/* Navigation */

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;

}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* End Navigation */

/* About section */
.about-info {
    margin-bottom: 2rem;
}


@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }



    .about-info {
        flex: 0 0 calc(50% - 2rem);
        margin-bottom: 0;
        align-self: center;
    }
}

@media screen and (min-width: 1170px) {
    .about-img::before {
        content: "";
        position: absolute;
        border: 0.5rem solid var(--clr-primary-5);
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        top: -1.5rem;
        left: -1.5rem;
        /* z-index: -1; */
    }

    .about-img {
        position: relative;
    }

    .about-photo {
        position: relative;
    }
}


@media (max-width: 768px) {

    /* navigation */
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    /* hero */

}

@media screen and (min-width: 768px) {
    .hero {
        background: linear-gradient(rgba(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)), url(image/background.jpg) center / cover no-repeat;
    }

    .hero-banner {
        padding: 0;
    }

    .hero-banner p {
        max-width: 45rem;
    }
}







/* Gallery */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Creates a 3x3 grid */
    gap: 15px;
    /* Space between images */
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.gallery-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* object-fit: cover; */
}


.gallery-item {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Form Styles */

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form .form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form textarea {
    resize: vertical;
    height: 150px;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #45a049;
}

/* Style header of contacto section */
#contact h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#gallery h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 50px;
}

.gallery-item {
    width: 100%;
    height: auto;
}

.list-item {
    text-align: center;
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #444;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* light box */
.gallery-item:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    text-align: center;
}